<app-layout>
    <app-navbar [pageTitle]="pageTitlePrincipal"></app-navbar>

    <div class="pointing-hours-container">
        <!-- Header -->
        <div class="header">
            <h2>{{ pageTitle }}</h2>
            <button class="add-button" (click)="openAdd()">
                <i class="material-icons">add</i> Add Pointing Hour
            </button>
        </div>

        <div class="container">
            <div class="calendar-container">
                <app-calendar
                        [eventDates]="eventDates"
                        [selectedDate]="selectedDate"
                        (dateSelected)="onDateSelected($event)"
                        (monthChanged)="onMonthChanged($event)">
                </app-calendar>

                <div class="hours-list">
                    <h3>Hours for {{ selectedDate | date:'fullDate' }}</h3>

                    <div *ngFor="let hour of pointingHours" class="hour-item">
                        {{ hour.startTime | date:'HH:mm' }} - {{ hour.endTime | date:'HH:mm' }}
                    </div>

                    <div *ngIf="!pointingHours.length" class="no-hours">
                        No pointing hours for this day
                    </div>
                </div>
            </div>
        </div>

    </div>
</app-layout>
