<div class="messages-container">
    <div class="messages-header">
        <h2>Dernières Informations</h2>
    </div>

    <div class="messages-list">
        <div class="message-item" *ngFor="let info of informations">
            <div class="sender-info">
                <div class="avatar-placeholder" *ngFor="let info of informations; let i = index"
                     [style.background-color]="getColor(i)">
                    {{ info.createdByName.charAt(0) }}
                </div>
                <div class="details">
                    <div class="name">{{ info.createdByName }}</div>
                    <div class="content">{{ truncateContent(info.description) }}</div>
                </div>
            </div>

            <div class="time">{{ formatDate(info.createdAt) }}</div>
        </div>
    </div>

    <div class="view-more">
        <button class="btn-view-more">Toutes les informations</button>
    </div>
</div>