<!--<div class="dashboard-container">-->
<!--    <app-sidebar></app-sidebar>-->

<!--    <div class="main-content">-->
<!--        <header class="top-header">-->
<!--            <h1>Dashboard</h1>-->

<!--            <div class="user-actions">-->
<!--                <button class="btn-notification">-->
<!--                    <i class="feather-bell"></i>-->
<!--                    <span class="notification-dot"></span>-->
<!--                </button>-->

<!--                <div class="settings">-->
<!--                    <i class="feather-settings"></i>-->
<!--                </div>-->

<!--                <div class="user-info">-->
<!--                    <div class="user-details">-->
<!--                        <span class="user-name">{{ currentUser.name }}</span>-->
<!--                        <span class="user-role">{{ currentUser.role }}</span>-->
<!--                    </div>-->
<!--                    <div class="avatar">-->
<!--                        &lt;!&ndash; Utilisez une lettre de l'avatar plutôt qu'une image &ndash;&gt;-->
<!--                        <span>N</span>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </header>-->

<!--        <div class="dashboard-content">-->
<!--            <div class="main-section">-->
<!--                &lt;!&ndash; Statistiques en haut &ndash;&gt;-->
<!--                <app-statistics-cards></app-statistics-cards>-->

<!--                &lt;!&ndash; Graphique de performance &ndash;&gt;-->
<!--                <app-school-performance-chart></app-school-performance-chart>-->

<!--                <div class="two-columns">-->
<!--                    &lt;!&ndash; Calendrier &ndash;&gt;-->
<!--                    <div class="column">-->
<!--                        <app-organization-calendar></app-organization-calendar>-->
<!--                    </div>-->

<!--                    &lt;!&ndash; Graphique de présence &ndash;&gt;-->
<!--                    <div class="column">-->
<!--                        <app-organization-presence-chart></app-organization-presence-chart>-->
<!--                    </div>-->
<!--                </div>-->

<!--                &lt;!&ndash; Activités récentes &ndash;&gt;-->
<!--                <app-recent-administration-activity></app-recent-administration-activity>-->
<!--            </div>-->

<!--            <div class="side-section">-->
<!--                &lt;!&ndash; Étudiants récents &ndash;&gt;-->
<!--                <app-recent-students></app-recent-students>-->

<!--                &lt;!&ndash; Messages &ndash;&gt;-->
<!--                <app-dashboard-messages></app-dashboard-messages>-->

<!--                &lt;!&ndash; Services &ndash;&gt;-->
<!--                <app-dashboard-services></app-dashboard-services>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->

<app-layout>
    <div class="main-content">
        <app-navbar>
            pageTitle="{{ establishmentName }}"
        </app-navbar>
    </div>

    <div class="dashboard-content">
        <div class="main-section">
            <!-- Statistiques en haut -->
            <app-statistics-cards
                    [currentUsersCount]="userMetrics?.currentUsers || 0"
                    [adminsCount]="userMetrics?.adminsCount || 0"
                    [classesCount]="userMetrics?.adminsCount || 0"
                    [globalPresencePercentage]="dailyStats?.presenceRate || 0">
            </app-statistics-cards>

            <!-- Graphique de performance -->
            <app-school-performance-chart
                    [yearlyPresenceStats]="yearlyStats"
                    [currentYear]="currentYear"
                    [previousYear]="previousYear">
            </app-school-performance-chart>

            <div class="two-columns">
                <!-- Calendrier -->
                <div class="column">
                    <app-organization-calendar></app-organization-calendar>
                </div>

                <!-- Graphique de présence -->
                <div class="column">
                    <app-organization-presence-chart
                            [establishmentId]="currentEstablishmentId">
                    </app-organization-presence-chart>
<!--                    <app-organization-presence-chart></app-organization-presence-chart>-->
                </div>
            </div>

            <!-- Activités récentes -->
            <app-recent-administration-activity
                    [establishmentId]="currentEstablishmentId">
            </app-recent-administration-activity>
        </div>

        <div class="side-section">
            <!-- Top ranking users -->
            <app-recent-students [establishmentId]="currentEstablishmentId"></app-recent-students>

            <!-- lastest infos -->
            <app-dashboard-messages [establishmentId]="currentEstablishmentId"></app-dashboard-messages>

            <!-- Services -->
<!--            <app-dashboard-services></app-dashboard-services>-->
        </div>
    </div>
</app-layout>