<!-- presence-classement.component.html -->
<div class="presence-classement card">
    <div class="card-header">
        <h2>Presence classement</h2>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="presence-table">
                <tbody>
                <!-- Message when we don't have data -->
                <tr *ngIf="topPresenceUsers.length === 0" class="no-data-row">
                    <td colspan="3">
                        <div class="no-data-message">
                            <fa-icon [icon]="faChartLine" class="no-data-icon"></fa-icon>
                            <p>No ranking data available</p>
                        </div>
                    </td>
                </tr>

                <!-- message when we get data -->
                <tr *ngFor="let user of topPresenceUsers">
                    <td>
                        <div class="presence-id">
                            <div class="id-icon">
                                <i class="material-icons">trending_up</i>
                            </div>
                            <div class="id-details">
                                <div class="id-number">#{{ user.id }}</div>
                                <div class="id-timestamp">{{ user.timestamp || 'N/A' }}</div>
                            </div>
                        </div>
                    </td>
                    <td class="presence-rate">
                        <span [class]="getStatusClass(user.status)">{{ user.presenceRate }}%</span>
                    </td>
                    <td class="absence-rate">
                        <span class="absence-value">{{ user.absenceRate }}%</span>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="table-footer" *ngIf="topPresenceUsers.length > 0">
            <div class="showing-info">
                Showing 1-{{ topPresenceUsers.length }} from {{ totalItems }} data
            </div>
            <app-pagination
                    [currentPage]="currentPage"
                    [totalItems]="totalItems"
                    [itemsPerPage]="itemsPerPage"
                    (pageChange)="onPageChange($event)">
            </app-pagination>
        </div>
    </div>
</div>