/* stats-cards.component.scss */
.stats-cards {
  display: grid;
  //grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)) minmax(200px, 250px);
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr)) minmax(180px, 220px);
  gap: 1.5rem;
  margin-bottom: 1.5rem;
  align-items: stretch;
  justify-content: center; // Ajouté pour centrer horizontalement
  max-width: 1200px; // Ajouté pour limiter la largeur maximale
  margin-left: auto; // Combiné avec margin-right: auto pour centrer
  margin-right: auto; // Combiné avec margin-left: auto pour centrer

  .stat-card {
    background-color: #fff;
    border-radius: 0.75rem;
    padding: 1.5rem;
    display: flex;
    align-items: center;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);

    .stat-icon {
      width: 3rem;
      height: 3rem;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 1rem;

      i {
        font-size: 1.5rem;
        color: #fff;
      }

      &.user-icon {
        background-color: #5B5FCE;
      }

      &.chief-icon {
        background-color: #FF7A59;
      }

      &.presence-icon {
        background-color: #FFC107;
      }
    }

    .stat-content {
      .stat-label {
        font-size: 0.875rem;
        color: #888;
        margin-bottom: 0.25rem;
      }

      .stat-value {
        font-size: 1.5rem;
        font-weight: 700;
        color: #333;
      }
    }
  }

  .stat-actions {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: 100%;

    .action-button {
      padding: 1rem;
      border-radius: 0.75rem;
      border: none;
      font-weight: 600;
      cursor: pointer;
      transition: all 0.3s ease;
      display: flex;
      align-items: center;
      justify-content: center;
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);

      &.pointing-zone {
        background-color: #5B5FCE;
        color: white;

        &:hover {
          background-color: #4A4EB6;
        }
      }

      &.edit-service {
        background-color: white;
        color: #5B5FCE;
        border: 1px solid #5B5FCE;

        &:hover {
          background-color: #f5f5ff;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .stats-cards {
    grid-template-columns: 1fr;

    .stat-actions {
      flex-direction: row;

      .action-button {
        padding: 1rem 0.5rem;
      }
    }
  }
}

@media (max-width: 406px) {
  .stats-cards {
    .stat-actions {
      flex-direction: column;
    }
  }
}

@media (min-width: 1200px) {
  .stats-cards {
    grid-template-columns: repeat(3, 250px) 220px; // Dimensions fixes pour grands écrans
  }
}
//@media (max-width: 768px) {
//  .stats-cards {
//    grid-template-columns: 1fr;
//  }
//}