<!-- calendar.component.html -->
<div class="calendar-container">
    <div class="calendar-header">
        <h2>Calendar</h2>
        <div class="calendar-controls">
            <div class="month-selector">
                <select [ngModel]="displayMonth()" (ngModelChange)="onMonthChange($event)" class="custom-select">
                    <option *ngFor="let month of months" [value]="month">{{ month }}</option>
                </select>
            </div>
            <div class="year-selector">
                <select [ngModel]="displayYear()" (ngModelChange)="onYearChange($event)" class="custom-select">
                    <option *ngFor="let year of years()" [value]="year">{{ year }}</option>
                </select>
            </div>
            <div class="new-event-btn">
                <button class="btn-new-event" (click)="createNewEvent()">
                    <span class="icon-plus">+</span>
                    <span>Add Info</span>
                </button>
            </div>
        </div>
    </div>

    <div class="calendar-grid">
        <div class="weekdays">
            <div class="weekday" *ngFor="let day of weekdays">{{ day }}</div>
        </div>

        <div class="days">
            <div
                    *ngFor="let day of days()"
                    class="day"
                    [class.inactive]="!day.isCurrentMonth"
                    [class.today]="day.isToday"
                    [class.has-events]="hasEvents(day)"
                    (click)="selectDay(day)"
            >
                <div class="day-number">{{ day.dayOfMonth }}</div>

                <div class="event-indicators" *ngIf="hasEvents(day)">
                    <div
                            *ngFor="let color of getEventColors(day)"
                            class="event-dot"
                            [style.background-color]="color"
                    ></div>
                </div>

                <div class="user-avatars" *ngIf="hasEvents(day)">
                    <ng-container *ngFor="let event of day.events.slice(0, 1)">
                        <div *ngIf="event.attendees && event.attendees.length" class="attendee">
                            {{ event.attendees[0].name.charAt(0) }}
                            <span *ngIf="event.attendees.length > 1">+{{ event.attendees.length }}</span>
                        </div>
                    </ng-container>
                </div>
            </div>
        </div>
    </div>
</div>