<div class="calendar">
    <div class="calendar-header">
        <button (click)="changeMonth(-1)">‹</button>
        <h3>{{ currentMonth | date:'MMMM yyyy' }}</h3>
        <button (click)="changeMonth(1)">›</button>
    </div>
    <div class="weekdays">
        <div *ngFor="let day of weekdays" class="weekday">{{ day }}</div>
    </div>

    <div class="days-grid">
        <div *ngFor="let day of days" class="day"
             [class.current-month]="day.isCurrentMonth"
             [class.other-month]="!day.isCurrentMonth"
             [class.today]="day.isToday"
             [class.selected]="day.isSelected"
             [class.has-events]="day.hasEvents"
             (click)="selectDay(day)">
            {{ day.dayOfMonth }}
            <div *ngIf="day.hasEvents" class="event-dot"></div>
        </div>
    </div>

</div>