<div class="chart-container">
    <div class="chart-header">
<!--        <h2>Annual Presence Rate</h2>-->
        <h2>School Performance</h2>
    </div>
    <div class="chart-body">
        <canvas id="schoolPerformanceChart"></canvas>
    </div>
</div>







<!--<div class="chart-container">-->
<!--    <div class="chart-header">-->
<!--        <h2>School Performance</h2>-->
<!--        <div class="legend">-->
<!--            <div class="legend-item">-->
<!--                <span class="dot this-week"></span>-->
<!--                <span>This Week</span>-->
<!--                <span class="value">{{ weekStats.thisWeek }}</span>-->
<!--            </div>-->
<!--            <div class="legend-item">-->
<!--                <span class="dot last-week"></span>-->
<!--                <span>Last Week</span>-->
<!--                <span class="value">{{ weekStats.lastWeek }}</span>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--    <div class="chart-body">-->
<!--        <canvas id="schoolPerformanceChart"></canvas>-->
<!--    </div>-->
<!--</div>-->