<div class="statistics-container">
    <div class="statistic-card" *ngFor="let stat of statistics" [style.background-color]="stat.color">
        <div class="icon">
            <i [class]="'feather-' + stat.icon"></i>
        </div>
        <div class="content">
            <h4>{{ stat.title }}</h4>
            <p class="count">{{ stat.count }}</p>
        </div>
    </div>
</div>








<!--<div class="statistics-container">-->
<!--    <div class="statistic-card" *ngFor="let stat of statistics" [style.background-color]="stat.color">-->
<!--        <div class="icon">-->
<!--            <i [class]="'feather-' + stat.icon"></i>-->
<!--        </div>-->
<!--        <div class="content">-->
<!--            <h4>{{ stat.title }}</h4>-->
<!--            <p class="count">{{ stat.count }}</p>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->